*{
    background: linear-gradient(to left, white, #f0e9cb);
}
h1{
    color: rgb(0, 94, 255);
    text-shadow: lightblue 5px 0 15px;
    /* border: 3px solid black;
    background: rgb(210, 208, 208); */
    margin: 5px
}
.class{
    color:rgb(63, 148, 141);
}

article{
    padding: 1px;
    margin: 1px;
    color: rgb(175, 64, 64);
    border: solid 1px black;
}
h3{
    margin: 0;
}

